
<div class="video">
  <video id="video" class="video__camera" autoplay></video>
  <canvas id="canvas" class="video__canvas" height="320px" width="426px"></canvas>
  <button type="button" class="btn btn--m btn--primary video__btn" id="snap">Take
    photo</button>
</div>
<!-- //Video -->

<!-- NEW MEMBERS BUTTON -->
<div class="container container--btn">
  <!-- <label for="takePhoto" class="btn btn--m btn--primary">
            Take photo
            <input type="file" name="video" accept="video/*" capture="capture">
          </label> -->

  <label for="changePhoto" class="btn btn--m btn--primary">
    Change photo
    <input type="file" id="changePhoto" hidden>
  </label>

  <button type="button" class="btn btn--m btn--secondary" id="newMemberBtn">Remove</button>
</div>
<!-- //NEW MEMBERS BUTTON -->

