<div class="edit-photo">
  <!-- PREVIEW -->
  <article class="user user--col">
    <div class="user__img-wrapper user__img-wrapper--large">
      <img class="user__img user__img--large" [src]="imageUrl || defaultImg" alt="{{user.name}} profile photo">
    </div>
  </article>
  <!-- //PREVIEW -->

  <!-- BUTTONS -->
  <div class="container container--btn">
    <label class="btn btn--m btn--primary">
      Change photo
      <input type="file" id="changePhoto" hidden accept="image/*" (change)=onChangePhoto(imgInput.files[0]) #imgInput>
    </label>

    <button type="button" class="btn btn--m btn--success" (click)="onUpdatePhoto(imageUrl)" [disabled]="isDisabled">Save</button>

    <button type="button" class="btn btn--m btn--secondary" (click)="onUpdatePhoto(defaultImg)">Remove</button>

  </div>
  <!-- //BUTTONS -->
</div>
