@import 'global/variables';
@import 'mixins/mixins';

.form__user-list {
  display: flex;
  padding: 5px 0;
  overflow-x: auto;
}

.form__btn {
  @include size(rem(100px), auto);
  @include flex();

  padding: 5px;
  border-left: $border;
  box-shadow: -1px 0 0px 0 rgba(0, 0, 0, 0.075);
}

// .form__datetime {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// input[type="time"] {
//   flex-shrink: 1.75;
//   margin-left: 5px;
// }

// input[type="date"]::-webkit-inner-spin-button {
//   margin: 0;
// }
