<ngx-spinner size="medium" bdColor="rgba(51,51,51,0.35)" type="ball-spin-clockwise" color="#fff"></ngx-spinner>
<form [formGroup]="eventForm" class="form" (ngSubmit)="onSubmit(eventForm)">

  <!-- Event name and location -->
  <div class="form__section">
    <div class="form__group">
      <label for="title" class="form__label">Event name</label>
      <input type="text" id="title" class="form__control" placeholder="Dentist" aria-required="true"
        autocomplete="off" required formControlName="title"
        [class.form__control--invalid]="eventForm.controls.title.dirty && eventForm.controls.title.invalid">
      <div class="form__msg-group" *ngIf="eventForm.controls.title.dirty && eventForm.controls.title.invalid">
        Required field
      </div>
    </div>

    <div class="form__group">
      <label for="location" class="form__label">Location</label>
      <input type="text" id="location" class="form__control" placeholder="C/Abc, 28220, Madrid" aria-required="false"
        autocomplete="off" formControlName="location">
    </div>
  </div>
  <!-- //Event name and location -->

  <!-- Event dates -->
  <div class="form__section">

    <label class="switch form__group" for="allDay">
      <span class="switch__label form__label">All day</span>
      <input type="checkbox" class="switch__check" id="allDay" role="switch" aria-checked="true"
        formControlName="allDay">
      <span class="switch__slider"></span>
    </label>

    <!-- Start Date -->
    <div class="form__group form__group--date">
      <label for="start" class="form__label">Start date</label>
      <div *ngIf="eventForm.controls.allDay.value">
        <input type="text" id="start" name="start" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="start" [owlDateTime]="start"
          [owlDateTimeTrigger]="start">
        <owl-date-time #start [pickerType]="'calendar'" [pickerMode]="'dialog'" firstDayOfWeek="1"></owl-date-time>
      </div>
      <div *ngIf="!eventForm.controls.allDay.value">
        <input type="text" id="start" name="start" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="start" [owlDateTime]="start"
          [owlDateTimeTrigger]="start">
        <owl-date-time #start [pickerType]="'both'" [pickerMode]="'dialog'" firstDayOfWeek="1"></owl-date-time>
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.start.dirty && eventForm.controls.start.invalid && !eventForm.controls.start.errors?.datesError">
        Required field
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.start.dirty && eventForm.controls.end.errors?.datesError">
        Invalid date
      </div>
    </div>
    <!-- //Start Date -->

    <!-- End Date -->
    <div class="form__group form__group--date">
      <label for="end" class="form__label">End date</label>
      <div *ngIf="eventForm.controls.allDay.value">
        <input type="text" id="end" name="end" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="end" [owlDateTime]="end"
          [owlDateTimeTrigger]="end">
        <owl-date-time #end [pickerType]="'calendar'" [pickerMode]="'dialog'" firstDayOfWeek="1"></owl-date-time>
      </div>
      <div *ngIf="!eventForm.controls.allDay.value">
        <input type="text" id="end" name="end" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="end" [owlDateTime]="end"
          [owlDateTimeTrigger]="end">
        <owl-date-time #end [pickerType]="'both'" [pickerMode]="'dialog'" firstDayOfWeek="1"></owl-date-time>
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.end.dirty && eventForm.controls.end.invalid && !eventForm.controls.end.errors?.datesError">
        Required field
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.end.dirty && eventForm.controls.end.errors?.datesError">
        Invalid date
      </div>
    </div>
    <!-- //End Date -->

  </div>
  <!-- //Event dates -->

  <!-- Event add invitee -->
  <div class="form__section form__section--add">

    <!-- USERS -->
    <app-user-list [onlyImage]="true" [userList]="inviteeList" class="form__user-list"></app-user-list>
    <!-- //USERS -->

    <!-- Add invitee -->
    <div class="form__btn">
      <button type="button" class="btn btn--primary btn--sm" (click)="toggleModal(newInvitee)">Add
        invitee</button>
    </div>
    <!-- //Add invitee -->

  </div>
  <!-- //Event add invitee -->

  <!-- Notes -->
  <div class="form__section">
    <div class="form__group">
      <label for="notes" class="form__label">Notes</label>
      <textarea id="notes" class="form__control" rows="4" cols="50" placeholder="Write additional information here..."
        formControlName="notes"></textarea>
    </div>
  </div>
  <!-- //Notes -->

  <!-- FORM ACTIONS -->
  <div class="form__actions container--btn">
    <button type="submit" class="btn btn--m" aria-disabled="true" [disabled]="!eventForm.valid">{{formBtn}}
      event</button>
    <button *ngIf="formBtn === 'Modify'" type="button" class="btn btn--m btn--secondary" aria-disabled="true" (click)="onDeleteEvent()"> Delete
      event</button>
  </div>
  <!-- //FORM ACTIONS -->

</form>
<!-- //FORM -->

<!-- MODAL NEW INVITEE -->
<app-modal [title]="'New invitee'" [isFull]="false" (close)="toggleModal(newInvitee)" #newInvitee>
  <app-user-list [onlyImage]="false" [(userList)]="userList" [isCheckList]="true" class="form form--checklist">
  </app-user-list>
  <!-- FORM ACTIONS -->
  <div class="container container--btn">
    <button type="button" class="btn btn--m btn--primary" aria-disabled="true" (click)="onAddInvitee(newInvitee)">Add
      invitee</button>
  </div>
  <!-- //FORM ACTIONS -->
</app-modal>

<!-- //MODAL NEW INVITEE -->
