/*------------------------------*/
/* BASE                         */
/* ---------------------------- */

body {
    background-color: #fff;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #ff748b;
    font-weight: 700;
    cursor: pointer;
}

input::placeholder {
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.zindex {
    z-index: -100;
}