/*------------------------------*/
/* GRID                         */
/* ---------------------------- */

.container {
    position: absolute;
    max-width: 375px;
    top: 3.625rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 20px 30px 40px;
}

.container__p {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
}

.container__p--large {
    font-size: 1.75rem;
    line-height: 2.188rem;
    margin-bottom: 60px;
}

/*--- Login ---*/
.container--login {
    position: static;
}

/*--- Home ---*/
.container--relative{
    position: relative;
    top: 0;
    padding-bottom: 10px;
}
