/*------------------------------*/
/* ICONS                        */
/* ---------------------------- */

.icon {
	width: 2.5rem;
	height: 2.5rem;
}

.icon--pswd {
	position: absolute;
	margin-right: 5px;
	margin-left: -5px;
	cursor: pointer;
}

.icon--sm {
	width: 1.875rem;
	height: 1.875rem;
}

.icon--xs {
	width: 0.75rem;
	height: 1.25rem;
}

.icon--off{
	color: #c4c4c4;
}

.icon-color-settings {
	margin-right: 15px;
}

.icon-off, .icon-on {
	height: 2rem;
	width: 3.75rem;
}