/*------------------------------*/
/* SECTION                      */
/* ---------------------------- */

.section{
    position: relative;
    top: 3.625rem;
    border-top: 1px solid #c4c4c4;
}

.section__title {
    margin: 0 auto;
    padding-top: 15px;
    max-width: 315px;
    color:#ff748b;
    font-size: 1.5rem;
    font-weight: 700;
}


/*--- Home ---*/
.section--home {
    top:0;
}