/*------------------------------*/
/* SETTINGS                     */
/* ---------------------------- */
.settings {
    max-width: 375px;
    margin: 0 auto;
}

.settings__title {
    color: #94e9f2;
    font-size: 1.5rem;
    font-weight: 700;
}
