/*------------------------------*/
/* USER                         */
/* ---------------------------- */
.user {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
}

.user__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;
}

.user__img--large {
    width: 9.188rem;
    height: 9.188rem;
    margin: 0;
}

.user--col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 12.125rem;
    margin-bottom: 20px;
}

.user__role {
    color: #c4c4c4;
    font-size: 1rem;
}

/*--- Home ---*/

.user--home {
    display: flex;
    padding: 10px 30px;
    border-top: 1px solid #c4c4c4;
}

.user--home:last-of-type {
    border-bottom: 1px solid #c4c4c4;
}

.user__name--large {
    font-size: 1.25rem;
}