@import '../../../../styles/mixins/mixins';
@import '../../../../styles/global/variables';



.user__img-wrapper {
  @include size(rem(40));
  @include flex(center, center);

  margin-right: 10px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
  background: linear-gradient(0, $primary 0%, $secondary 100%);
  padding: 1px;
}

.user__img {
  @include size(rem(40));
  margin: 0;
  border-radius: 100%;
  border: 2px solid #fff;
  border-radius: 100%;
  z-index: 20;
}
