<!-- USER LIST FROM GROUP  -->
<ng-container *ngIf="!isCheckList">
  <article class="user" *ngFor="let user of userList" [class.user--row]="!onlyImage" (click)="onClick(user._id)">
    <div class="user__img-wrapper">
      <img class="user__img" [src]="user.avatar || img" alt="{{ user.name }} profile photo">
    </div>
    <h2 class="user__name" *ngIf="!onlyImage">{{ user.name }}</h2>
  </article>
</ng-container>
<!-- // USER LIST FROM GROUP  -->


<!-- USER CHECKLIST -->
<ng-container *ngIf="isCheckList">
  <article class="user user--row" *ngFor="let user of allUsers">
    <div class="user__img-wrapper">
      <img class="user__img" [src]="user.avatar || img" alt="{{ user.name }} profile photo">
    </div>
    <label class="user__name" [for]="user._id">{{ user.name }}</label>
    <div class="checkbox">
      <input type="checkbox" [id]="user._id" class="checkbox__box" #checkedUser [checked]="user.isSelected"
        (change)="onChecked(user, checkedUser.checked)">
      <span class="checkbox__checkmark"></span>
    </div>
  </article>
</ng-container>
<!-- // USER CHECKLIST -->
