// ---------------------------- //
// CALENDAR                     //
// ---------------------------- //

// ---------------------------- //
// FULL CALENDAR                //
// ---------------------------- //

.fc-view-container {
  background-color: var(--body-bg);
  border-radius: 5px;
  box-shadow: var(--box-shadow-sharpen);

  a {
    font-weight: $font-weight-medium;
  }
}

.fc-unthemed td.fc-today {
  background-color: var(--tertiary);
}

thead tr:first-child td:first-child {
  border-top-left-radius: 15px;
}

thead tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

// TOOLBAR
// ----------------------------
.fc-toolbar {
  @media screen and (max-width: $lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0;
    grid-template-areas:
      " fc-center fc-center"
      " fc-left fc-right"
    ;
    font-size: 1rem;

    .fc-center {
      grid-area: fc-center;
      margin-bottom: 5px;
    }

    .fc-left {
      @include flex(center, flex-start);
      grid-area: fc-left;
      align-self: center;
    }

    .fc-right {
      @include flex(center, flex-end);
      grid-area: fc-right;
      align-self: center;
    }

  }
}

// EVENTS
// ----------------------------
.fc-event,
.fc-event-dot {
  border: none;
  background-color: $primary;
}

.fc-day-grid-event .fc-time {
  font-weight: $font-weight-medium;
}


// BUTTONS
// ----------------------------
.fc-button {

  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: $primary;

  @media screen and (max-width: $lg) {
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
  }

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.fc-button-primary {
  background-color: $primary;

  &:disabled {
    background-color: $grey-100;
  }

  &:not(:disabled):active,
  &:not(:disabled).fc-button-active {
    background-color: $secondary;
  }
}

.fc-button-active {
  background-color: $secondary;
}


// LIST VIEW
// ----------------------------
.fc-list-view {
  border: none;
}

.fc-unthemed .fc-list-empty {
  background-color: var(--tertiary);
}

.fc-list-heading td,
.fc-list-item a {
  font-weight: $font-weight-medium;
}

.fc-unthemed .fc-list-heading td {
  background-color: var(--body-bg);
  border-radius: 20px;
}

.fc-unthemed .fc-list-item:hover td {
  background-color: var(--body-bg);
  cursor: pointer;
}


// ----------------------------//
// OWL DATETIME PICKER         //
// ----------------------------//
.owl-dt-container {
  background-color: var(--body-bg);

  .owl-dt-control-button, .owl-dt-weekday {
    color: var(--body-color);

  }

}

.owl-dt-control-content.owl-dt-control-button-content  {
  color: $secondary;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  color: var(--body-color);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: $grey-100;
}
