//------------------------------//
// LIST                         //
// ---------------------------- //

.list {
  @include absolute(0, 0, 0, 0);
  min-width: 20rem;
  background-color: $tertiary;
  padding-bottom: rem(60px);
  overflow: auto;

  // ITEM
  //-----------------------------
  &__item {
    @include flex(center, flex-start);
    @include size($height:rem(60px));

    padding: 10px $padding-sides;
    border-bottom: 1px solid rgba($color: $secondary, $alpha: 0.5);
    cursor: pointer;

    &:first-child {
      border-top: 1px solid rgba($color: $secondary, $alpha: 0.5);
    }

    & span {
      cursor: pointer;
    }

    @media screen and (min-width:1024px) {
      &:hover {
        background-color: darken($tertiary, 2.5%);
      }
    }

  }

  // LABEL
  //-----------------------------
  &__label {
    @include flex (flex-start, space-between);
    @include size();

    flex-direction: column;
    margin-left: 10px;
    font-size: rem(24px);
  }

  // ADDED BY USERNAME
  //-----------------------------
  &__addedby {
    color: $grey-100;
    font-size: rem(14px);
    text-decoration: none;
  }

  // INPUT TEXT
  //-----------------------------
  &__input {
    @include size();
    border: none;
    border-bottom: $border;
    background: none;
    font-family: $font-family-primary;
    font-size: rem(24px);
    font-weight: $font-weight-light;
  }

  // ADD ITEM BTN
  //-----------------------------
  &__add {
    @include flex();
    border: 0;
    background: none;
    color: $primary;
    font-size: rem(40px);
    margin-left: 10px;

    &::after {
      content: "+";
    }

  }

  // REMOVE ITEM BTN
  //-----------------------------
  &__remove {
    color: $grey-100;

    @media screen and (min-width:1024px) {
      &:hover {
        color: rgba($color: $secondary, $alpha: 0.5);
      }
    }
  }

  // Checked status
  // ---------------------
  &__done {
    color: $grey-100;
    text-decoration-color: $grey-100;
    text-decoration-line: line-through;
    text-decoration-thickness: rem(2px);
  }


}
