//------------------------------//
// NAVBAR                       //
// ---------------------------- //

.navbar {
  @include fixed(auto, 0, 0, 0);
  @include size($height: $navbar-height);

  margin: 0 auto;
  border-top: $border;
  font-size: 0;
  background-color: #fff;
  z-index: 10;

  &__icons {
    @include flex(center, space-around);
    @include size(auto, 100%);
  }

  .navbar__icon {
    @include size(rem(32px), rem(32px));
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 10px;
    overflow: auto;
  }

  &__actions {
    @extend .navbar__container;
    @include flex();
    @include size(10rem, auto);

    border-left: $border;
    box-shadow: -1px 0 0px 0 rgba(0, 0, 0, 0.075);
  }
}

// --- User navbar top --- //
.navbar--top {
  @include relative($top: 0);
  @include size($height: $header-height);
  display: flex;
  border: 0;
}
