// ---------------------------- //
// USER                         //
// ---------------------------- //

.user {
  @include flex(center, flex-start);
  font-size: $font-size-base;

  // USER NAME
  // -----------------------------
  &__name {
    width: 100%;
    margin: 0 auto;
    font-weight: $font-weight-light;
    color: var(--body-color);

    &--large {
      width: inherit;
      font-size: 1.2rem;
      margin: 10px 0;
    }

  }

  &__role {
    color: $grey-100;
    font-size: $font-size-base;
  }

  // USER BTN
  // -----------------------------
  &__btn {
    @include size(max-content);
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

    &::before {
      content: "Edit profile photo";
      @include absolute(0, 0, 0, 0);
      @include flex(center, center);
      @include size(11rem);
      opacity: 0;
      border-radius: 50%;
      color: #fff;
      background-color: rgba(#000, 50%);
      font-size: $font-size-base;
      font-weight: $font-weight-light;
      line-height: 0;
      z-index: 100;
      transition: all 0.1s linear;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  // USER IMG
  // -----------------------------

  &__img-wrapper {
    @include flex(center, center);

    margin-right: 10px;
    border-radius: 100%;
    border: 2px solid var(--body-bg);
    background: var(--body-bg);
    background: $gradient;
    padding: 1px;

    &--medium {
      @include size(rem(70px), rem(70px));
      position: relative;

      &::after {
        content: "";
        @include size(rem(40px), rem(40px));
        position: absolute;
        bottom: -5px;
        align-self: flex-end;
        display: block;
        border-radius: 3px;
        border: 2px solid var(--body-bg);
        background: var(--body-bg);
        background: linear-gradient(45deg, $primary 0%, $secondary 100%);
        transform: rotate(-45deg);
        z-index: -1;
        box-shadow: -20px 20px 20px -5px rgba(0, 0, 0, 0.25);
      }

    }

    &--large {
      @include size(11rem, 11rem);
      margin: 0;
    }
  }

  &__img {
    @include size(rem(40px), rem(40px));
    margin: 0;
    border-radius: 100%;
    border: 2px solid var(--body-bg);
    border-radius: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 20;

    // when there is no photo or when user remove photo
    background-image: url('../assets/img/profile-photo-round.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--medium {
      @include size(rem(60px), rem(60px));
    }

    &--large {
      @include size(10rem, 10rem);
      display: block;
      border-width: 5px;
    }

  }

}



// --- Layout in column --- //

.user--col {
  @include flex(space-between, center);
  flex-direction: column;
  padding: 20px;
  border-bottom: $border;
}

// --- Layout in row --- //
.user--row {
  display: flex;
  padding: 10px $padding-sides;
}
