// ---------------------------- //
// USER                         //
// ---------------------------- //

.user {
  @include flex(center, flex-start);
  font-size: $font-size-base;

  // USER NAME
  // -----------------------------
  &__name {
    width: 100%;
    margin: 0 auto;
    font-weight: $font-weight-light;
    color: #000;

    &--large {
      width: inherit;
      font-size: 1.2rem;
      margin: 10px 0;
    }

  }

  &__role {
    color: $grey-100;
    font-size: $font-size-base;
  }

  // USER BTN
  // -----------------------------
  &__btn {
    @include size(max-content);
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

    &::before {
      content: "Edit profile photo";
      @include absolute(0, 0, 0, 0);
      @include flex(center, center);
      @include size(10rem);
      opacity: 0;
      border-radius: 50%;
      color: #fff;
      background-color: rgba(#000, 50%);
      font-size: $font-size-base;
      font-weight: $font-weight-light;
      line-height: 0;
      z-index: 100;
      transition: all 0.1s linear;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  // USER IMG
  // -----------------------------

  &__img-holder {
    @include size(2.5rem, 2.5rem);
    position: relative;
    overflow: hidden;
  }

  &__img-test {
    @include size(2.5rem, 2.5rem);
    display: block;
    @include absolute(0, 0, 0, 0);
  }

  &__img {
    @include size(2.5rem, 2.5rem);
    display: block;
    margin-right: 10px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;

    // when there is no photo or when user remove photo
    background-image: url('../assets/img/profile-photo-round.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--large {
      @include size(10rem, 10rem);
      display: block;
      margin: 0;
    }

  }
}


// --- Layout in column --- //

.user--col {
  @include flex(space-between, center);
  flex-direction: column;
  padding: 20px;
  border-bottom: $border;
}

// --- Layout in row --- //
.user--row {
  display: flex;
  padding: 10px $padding-sides;
  border-bottom: $border;
}
