//------------------------------//
// GRID                         //
// ---------------------------- //

.container {
  position: fixed;
  min-width: 20rem;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: $navbar-height;
  margin: 0 auto;
  overflow: auto;

  // PARAGRAPH
  // ----------------------------- 
  &__p {
    padding: 0 $padding-sides;
    font-size: $font-size-base;
    text-align: center;
    line-height: 1.2;

    &--large {
      font-size: 1.5rem;
      margin: 50px 0;
    }
  }

  // CONTAINER TITLE
  // ----------------------------- 
  &__title {
    margin: 20px auto;
    padding: 0 $padding-sides;
    color: $secondary;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

}

// --- Hidden container --- //
.container--hidden {
  overflow: hidden;
}

// --- CONTAINER BUTTON --- //
.container--btn {
  position: static;
  padding: 20px $padding-sides;
}

//--- Login ---//
.container--login {
  position: static;
  margin-bottom: 20px;
}

// --- Home --- //
.container--home {
  top: 0;
}

// --- Map ---//
.container--map {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: $navbar-height;
  left: 0;
}