/*------------------------------*/
/* ICONS                        */
/* ---------------------------- */

.icon {
	width: 2.5rem;
	height: 2.5rem;
	filter: grayscale(100%);
	transition: filter 0.1s linear;
}

.icon--selected,
.icon:hover,
.icon-red_eye,
.icon-red_eye_close {
	filter: none;
}


//-- Sizes --//
.icon--sm {
	width: 1.875rem;
	height: 1.875rem;
}

.icon--xs {
	width: 0.75rem;
	height: 1.25rem;
}

//-- Icons --//

.icon--pswd {
	position: absolute;
	margin-right: 5px;
	margin-left: -5px;
	cursor: pointer;
}

.icon-settings {
	right: 0;
}
