//------------------------------//
// FORM                         //
// ---------------------------- //

.form {

  min-width: 20rem;
  margin: auto;

  @media screen and (min-width:$lg) {
    max-width: rem(375px);
  }

  // SECTION
  //-----------------------------
  &__section {
    border-bottom: $border;

    &--add {
      @include flex(strech, space-between);
      padding: 0 5px;
      z-index: 0;
    }
  }

  // GROUP
  //-----------------------------
  &__group {
    position: relative;
    padding: 20px $padding-sides;

    &+& {
      padding-top: 0;
    }

    &--date {
      display: grid;
      grid-template-columns: 5rem 1fr;
      grid-template-rows: 1fr 1rem;
      column-gap: 5px;
      justify-content: space-between;
    }

    // Form login group
    // ---------------------
    .form--login & {
      margin-bottom: 20px;
    }

    // Form checklist group
    // ---------------------
    .form--checklist & {
      @include flex(center, space-between);
    }

  }

  // LABEL
  // -----------------------------
  &__label {
    @include flex(center, flex-start);

    width: inherit;
    color: $primary;
    font-weight: $font-weight-bold;
    margin-bottom: 5px;

    // Form checklist label
    // ---------------------
    .form--checklist & {
      @include size();
      color: #000;
      font-weight: $font-weight-light;
      margin: 0;
      cursor: pointer;
    }

  }

  // CONTROL
  // -----------------------------
  &__control {
    @include flex(center, flex-start);
    @include size(100%, rem(30px));

    border: $border;
    border-radius: 4px;
    padding: 5px 7px;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: $font-family-primary;
    font-weight: $font-weight-light;
    font-size: 1rem;

    &::placeholder {
      font-size: 0.85rem;
      font-style: italic;
    }

    &:focus {
      outline: none;
      // background-color: var(--tertiary);
    }

    &--invalid {
      border-color: $secondary;
    }

    // Form login control
    // ---------------------
    .form--login & {
      @include size($height: 3.125rem);
      padding: 16px 10px;
    }

    // Form singup control
    // ---------------------
    .form--singup & {
      @include size($height: 2.188rem);
    }

    &--select {
      text-transform: capitalize;
      &:hover {
        cursor: pointer;
      }
    }

  }

  // CUSTOM SELECT
  // -----------------------------

  &__select {
    @include flex(center, flex-end);
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }

  // LIST
  // -----------------------------

  &__list {
    @include absolute(auto, 0, auto, 0);
    margin: 10px $padding-sides;
    border: $border;
    border-radius: 4px;
    background-color: var(--body-bg);
    box-shadow: $box-shadow-sharpen;
    z-index: 10000;

    &-elem {
      width: 100%;
      padding: 10px;
      line-height: 1.2;
      text-transform: capitalize;

      &+& {
        border-top: $border;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--hover-bg);
      }

    }
  }

  // ICON
  // -----------------------------
  &__icon {
    @include flex(center, flex-end);
  }

  // LINKS
  // -----------------------------
  &__link {
    display: block;
    margin: 10px;
    font-size: 1rem;
    font-style: italic;
  }

  // ACTIONS
  // -----------------------------
  &__actions {
    @include flex(center, center);
    padding: 20px $padding-sides;

    .form--login & {
      position: relative;
      flex-direction: column;
    }
  }


  // MESSAGE VALIDATION GROUP
  // -----------------------------
  &__msg-group {
    position: absolute;
    margin-top: 5px;
    padding-right: $padding-sides;
    color: $secondary;
    font-size: rem(12px);
    font-weight: $font-weight-bold;
    line-height: 1.2;

    .form__group--date & {
      grid-column: 2/-1;
      grid-row: 2/-1;
    }

    .form--login & {
      top: -5px;
      margin-bottom: 5px;
      padding: 0;
    }

  }

}

//--- Form layout for checklist ---//
.form--checklist {
  display: flex;
  flex-direction: column;
}


// Deletes autofill default styles
@keyframes autofill {

  0%,
  100% {
    color: var(--body-color);
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-delay: 0s;
  /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  animation-fill-mode: both;
}
