// ---------------------------- //
// MAP                          //
// ---------------------------- //

.marker {
  @include size(rem(70px), rem(70px));
  position: absolute;
  top: -59px;
  border-radius: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.mapboxgl-popup {
  top: -10px;
  &-content {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: $box-shadow-sharpen;
    pointer-events: none;
    background-color: var(--body-bg);
  }
  &-anchor-bottom &-tip {
    border-top-color: var(--body-bg);
  }
  &-anchor-left &-tip {
    border-right-color: var(--body-bg);
  }
  &-anchor-right &-tip {
    border-left-color: var(--body-bg);
  }
  &-anchor-top &-tip {
    border-bottom-color: var(--body-bg);
  }
  button.mapboxgl-popup-close-button {
    position: static;
    border: 0;
    border-radius: 0 3px 0 0;
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
    color: $grey-100;
    font-size: rem(30px);
    line-height: 0.5;
  }
}

.map-popup {
    margin-right: 30px;
    overflow: auto;
  &__title {
    font-size: rem(24px);
    color: $secondary;
    margin-bottom: 10px;
  }
  &__desc {
    overflow-wrap: break-word;
  }
}
