// ---------------------------- //
// SWITCH                       //
// ---------------------------- //
:root {
  --switch-size: 1.5rem;
  --switch-label-size: $font-size-base;
  --slider-size: var(--switch-size);
}

.switch {
  @include flex(center, space-between);

  // SWITCH LABEL
  // -----------------------------
  &__label {
    color: var(--body-color);
    font-size: var(--switch-label-size);
    font-weight: $font-weight-light;
    margin-right: 5px;
  }

  // CHECK
  // -----------------------------
  &__check {
    display: none;
  }

  // SLIDER
  // -----------------------------
  &__slider {
    @include relative();
    @include flex(center, flex-start);
    @include size(calc(var(--switch-size) * 2), var(--switch-size));

    border-radius: 20px;
    background-color: $grey-100;
    transition: background-color 0.3s;

    &::before {
      content: '';
      @include size(var(--switch-size));

      border-radius: 50%;
      border: $border;
      background-color: var(--body-bg);
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s, border 0.3s;
    }
  }

  // STATES AND TRANSITIONS
  // -----------------------------

  &__check:checked+&__slider::before {
    transform: translate3d(100%, 0, 0);
    border: 1px solid $success;
  }

  &__check:checked+&__slider {
    background-color: $success;
  }

}

//--- Sizes ---//
.switch--sm {
  --switch-size: 1.25rem;
  --switch-label-size: 0.75rem;
}
