//------------------------------//
// ICONS                        //
// ---------------------------- //
@import "../../assets/icons/icons.data.svg";

.icon {
	width: 2.5rem;
	height: 2.5rem;
	filter: var(--icon-filter);
  transition: filter 0.1s linear;
}

.icon:hover,
.icon--selected,
.icon-red_eye,
.icon-red_eye_close {
  filter: var(--icon-filter-selected);
}

.icon--nofilter, .icon:hover.icon--nofilter {
  filter: none;
}
// -- Sizes --- //

.icon--ms {
	width: 3rem;
  height: 3rem;
}

.icon--sm {
	width: 1.875rem;
	height: 1.875rem;
}

.icon--xs {
	width: 0.75rem;
	height: 1.25rem;
}

// --- Icons --- //

.icon--pswd {
	position: absolute;
	margin-right: 5px;
	margin-left: -5px;
	cursor: pointer;
}

.icon-settings{
  margin: 10px 20px;
  margin-left: auto;
}

.icon-plus {
  width: 2rem;
  height: 2rem;
}
