@import 'mixins/mixins';
@import 'global/variables';
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.app-name {
  @include size(100vw, 100%);
  @include flex(center, center);

  padding: 30px;
  color: $secondary;
  font-size: rem(50px);
  font-weight: $font-weight-bold;
  font-family: 'Lobster';
  letter-spacing: rem(5px);
}

