@import  'mixins/mixins';
@import  'global/variables';

// ---------------------------- //
// MAP                          //
// ---------------------------- //

.marker {
  @include size(rem(70px), rem(70px));
  position: absolute;
  top: -59px;
  border-radius: 100%;
}
