<div #modal class="modal" [id]="modalId">
  <div class="modal__container" [class.modal__container--full]="isFull">
    <header class="header modal__header">
      <div class="header__container">
        <h1 class="header__title">{{title}}</h1>
        <button type="button" class="btn btn--close modal__close" (click)="onClose()">
          <svg class="icon icon--sm icon-close">
            <use xlink:href="../../assets/icons/sprite.svg#close"/>
          </svg>
        </button>
      </div>
    </header>

    <div class="modal__body">

      <ng-content></ng-content>

    </div>
  </div>
</div>
