<div #modal class="modal" [id]="modalId">
  <div class="modal__container" [class.modal__container--full]="isFull">
    <header class="modal__header">
        <h1 class="modal__title">{{title}}</h1>
        <button type="button" class="btn btn--close modal__close" (click)="onClose()">
          <svg class="icon icon--sm icon-close icon--nofilter">
            <use xlink:href="../../assets/icons/sprite.svg#close"/>
          </svg>
        </button>
    </header>

    <div class="modal__body">

      <ng-content></ng-content>

    </div>
  </div>
</div>
