@import "../../../../styles/global/variables";
@import "../../../../styles/mixins/mixins";

//------------------------------//
// MODAL                        //
// ---------------------------- //

.modal {
  @include fixed(0, 0, 0, 0);
  @include flex(flex-end, center);

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.35s ease-out, visibility 0.35s;
  z-index: 1000;
  visibility: hidden;


  @media screen and (min-width: $lg) {
    justify-content: center;
  }

  // MODAL CONTAINER
  // -----------------------------
  &__container {
    @include flex(flex-start, center);
    @include size($height: auto);

    min-height: 40vh;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.35s ease-out;


    // Modal container full
    // ------------------------
    &--full {
      @include size(100%, 100%);
      transform: translate3d(100%, 0, 0);

      @media screen and (min-width: $lg){
        @include size(rem(375px), 100%);
        transform: translate3d(0, -100%, 0);
      }
    }

    // Modal show container
    // ------------------------
    .modal--show > & {
      transform: translate3d(0, 0, 0);
    }
  }

  // MODAL HEADER
  // -----------------------------
  &__header {
    @include fixed(0, 0, auto, 0);
    @include flex(center, space-between);
    @include size(100%, rem($header-height));
    min-width: 20rem;
    padding: 0 $padding-sides;
    margin: 0 auto;
    border-bottom: $border;
    background-color: #fff;
    color: $secondary;
    font-weight: $font-weight-bold;
    font-size: ($font-size-base * 2); // not working again using the variable like rem(16px)
    z-index: 10;

  }


  // MODAL TITLE
  // -----------------------------
  &__title {
    font-size: 1.7rem;
  }


  // MODAL BODY
  // -----------------------------
  &__body {
    @include relative(0, 0, 0, 0);
    @include size();
    padding-top: $header-height;
    overflow-y: auto;
  }

  // MODAL CLOSE BUTTON
  // -----------------------------
  &__close {
    width: auto;
  }
}

//--- Modal Show ---//
.modal--show {
  opacity: 1;
  visibility: visible;
}
