<form [formGroup]="loginForm" (ngSubmit) = "onSubmit(loginForm)" class="form form--login">

  <div class="form__group">
    <label for="email" class="form__label">Email</label>
    <input type="email" id="email" name="email " class="form__control" required  autocomplete="on"
      formControlName="email"
      [class.form__control--invalid]="loginForm.controls.email.dirty && loginForm.controls.email.invalid">

    <div *ngIf="authService.invalidUser" class="form__msg-group">
      We don't recognize that email.
    </div>
  </div>

  <div class="form__group">
    <label for="current-password" class="form__label">Password</label>
    <div class="form__icon">
      <input id="current-password" name="current-password" class="form__control form__control-pswd" required autocomplete="on"
        [type]="type"
        formControlName="password"
        [class.form__control--invalid]="loginForm.controls.password.dirty && loginForm.controls.password.invalid">
        <i class="icon icon--pswd icon--sm" data-toggle="eye"
          [class.icon-red_eye]="isVisible"
          [class.icon-red_eye_close]="!isVisible" (click)=showPswd()></i>
    </div>

    <div *ngIf="authService.invalidPassword" class="form__msg-group">
        Incorrect Password.
    </div>

  </div>

  <div class="form__actions">
    <button type="submit" class="btn" [disabled]="!loginForm.valid">Log in</button>
  </div>



</form>
