<nav class="navbar">
  <div class="navbar__icons">
    <a href="" class="navbar__link icon icon-home icon--selected icon--nav" aria-current="true">Home</a>
    <a href="l" class="navbar__link icon icon-calendar icon--nav" aria-current="false">Calendar</a>
    <a href="" class="navbar__link icon icon-bell icon--nav" aria-current="false">Notifications</a>
    <a href="" class="navbar__link icon icon-location icon--nav" aria-current="false">Locator</a>
    <a href="" class="navbar__link icon icon-check_list icon--nav" aria-current="false">Shopping List</a>
  </div>
</nav>
