<nav class="navbar">
  <div class="navbar__icons">
    <a routerLink="home" routerLinkActive="icon--selected" class="navbar__icon icon icon-home" #homeRoute = "routerLinkActive" [attr.aria-current] = "homeRoute.isActive" >Home</a>
    <a routerLink="calendar" routerLinkActive="icon--selected" class="navbar__icon icon icon-calendar" #calendarRoute = "routerLinkActive" [attr.aria-current] = "calendarRoute.isActive" >Calendar</a>
    <a routerLink="notifications" routerLinkActive="icon--selected" class="navbar__icon icon icon-bell" #notifRoute = "routerLinkActive" [attr.aria-current] = "notifRoute.isActive" >Notifications</a>
    <a routerLink="locator" routerLinkActive="icon--selected" class="navbar__icon icon icon-location" #locatorRoute = "routerLinkActive" [attr.aria-current] = "locatorRoute.isActive" >Locator</a>
    <a routerLink="list" routerLinkActive="icon--selected" class="navbar__icon icon icon-check_list" #listRoute = "routerLinkActive" [attr.aria-current] = "listRoute.isActive" >Shopping List</a>
  </div>
</nav>
