<nav class="navbar">
  <p class="navbar__welcome"> Welcome {{user.name}}!</p>
  <a routerLink="home" routerLinkActive="icon--selected" class="navbar__item icon icon-home"
    #homeRoute="routerLinkActive" [attr.aria-current]="homeRoute.isActive">
    <span class="navbar__txt">Home</span>
  </a>
  <a routerLink="calendar" routerLinkActive="icon--selected" class="navbar__item icon icon-calendar"
    #calendarRoute="routerLinkActive" [attr.aria-current]="calendarRoute.isActive">
    <span class="navbar__txt">Calendar</span>
  </a>
  <a routerLink="notifications" routerLinkActive="icon--selected" class="navbar__item icon icon-bell"
    #notifRoute="routerLinkActive" [attr.aria-current]="notifRoute.isActive">
    <span class="navbar__txt">Notifications</span>
  </a>
  <a routerLink="locator" routerLinkActive="icon--selected" class="navbar__item icon icon-location"
    #locatorRoute="routerLinkActive" [attr.aria-current]="locatorRoute.isActive">
  <span class="navbar__txt">Locator</span>
  </a>
  <a routerLink="list" routerLinkActive="icon--selected" class="navbar__item icon icon-check_list"
    #listRoute="routerLinkActive" [attr.aria-current]="listRoute.isActive">
  <span class="navbar__txt">Shopping</span>
  </a>
</nav>
