//------------------------------//
// BUTTON                       //
// ---------------------------- //

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.813rem;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 auto 20px;
  color: #fff;
  background-color: #c4c4c4;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 0;
  cursor: pointer;

  //--- Colors ---//

  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  //--- Sizes ---//

  &--sm {
    height: 1.875rem;
    font-size: 1.25rem;
  }

  &--xs {
    height: 1.563rem;
    min-width: 4.375rem;
    margin: 0 auto;
    font-size: 0.675rem;
  }

}

//--- Buttons that are icons ---//
.btn--icon {
  width: 2.813rem;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

//--- Close button ---//
.btn--close {
  margin: 0;
  padding: 10px 0px 10px 10px;
  background: none;
  color: $grey-100;
  transition: color 0.2s ease-out;

  &:hover {
    color: $grey-200;
  }
}

//--- Filter button ---//
.btn--filter {
  position: absolute;
  bottom:($navbar-height + rem(30px));
  right: 20px;
  border-radius: 100%;
  width: rem(60px);
  height: rem(60px);
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  box-shadow: $box-shadow;
  z-index: 1000;
}