/*------------------------------*/
/* FORM                         */
/* ---------------------------- */

.form  {
    padding: 20px $padding-sides 40px;
}

.form__group {
    margin-bottom: 10px;
}

.form__label {
    display: inline-block;
    color: $primary;
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
}

.form__control {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border: $border;
    border-radius: 4px;
    padding: 5px 7px;
    font-family: $font-family-primary;
    font-size: 1rem;
}

.form__control:focus {
    outline: none;
    background-color: $tertiary;
}

.form__control--invalid {
    border-color: $secondary;
}

.form__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form__link {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
    text-align: end;
}

.form__actions {
    margin-top: 45px;
}

/*--- Login ---*/
.form--login .form__control {
    height: 3.125rem;
    padding: 16px 10px;
}

.form--login .form__group {
    margin-bottom: 42px;
}

/*--- Signup ---*/
.form--signup .form__control {
    height: 2.188rem;
}