/*------------------------------*/
/* FORM                         */
/* ---------------------------- */

.form {
    min-width: 20rem;

    &--checklist {
      display: flex;
      flex-direction: column;
    }

    &__section {
        border-bottom: $border;

        &--add{
            display: flex;
            padding: 0 20px;
        }
    }

    &__group {
        padding: 15px $padding-sides;

        & + & {
           padding-top: 0;
        }

        &--checklist {
          display: flex;
          justify-content: space-between;
        }

        &--grid {
            display: grid;
            grid-template-columns: 7rem 2fr 1fr;
            grid-template-rows: repeat(1, 1fr);
            column-gap: 10px;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        color: $primary;
        font-weight: $font-weight-bold;
        margin-bottom: 5px;
        width: inherit;

        &--checklist {
          font-weight: $font-weight-light;
          color: #000;
        }
        // &--hidden {
        //   display: none;
        // }
    }

    &__control {
        display: inline-flex;
        align-items: center;
        width: 100%;
        border: $border;
        border-radius: 4px;
        padding: 5px 7px;
        font-family: $font-family-primary;
        font-size: 1rem;

        &:focus {
            outline: none;
            background-color: $tertiary;
        }

        &--invalid {
            border-color: $secondary;
        }

        &--check {
          width: 1.25rem;
          height: 1.25rem;
        }

    }

    &__icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__link {
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        font-style: italic;
        text-align: end;
    }

    &__actions {
        padding: 20px $padding-sides;
    }

}


/*--- Login ---*/
.form--login .form__control {
    height: 3.125rem;
    padding: 16px 10px;
}

.form--login .form__group {
    margin-bottom: 42px;
}

/*--- Signup ---*/
.form--signup .form__control {
    height: 2.188rem;
}