//------------------------------//
// HEADER                       //
// ---------------------------- //

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-width: 20rem;
    padding: 0 $padding-sides;
    border-bottom: $border;
    color: $secondary;
    background-color: #fff;
    font-weight: $font-weight-bold;
    font-size: 1.875rem;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.625rem;
    margin: 0 auto;
}

.header__title {
    font-size: 1.75rem;
}

.header__link {
    margin-left: auto;
}

//--- Login ---//
.header--login {
    position: relative;
    border: 0;
    margin: 20px auto;
}

.header__title--login {
    margin: auto;
}

//--- Home ---//

.header--home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.header__container--home {
    justify-content: flex-end;
}

//-- Calendar --//

.header--calendar {
    padding: 0;
    margin: 0;
}