//------------------------------//
// HEADER                       //
// ---------------------------- //

.header {
  @include fixed(0, 0, auto, 0);

  min-width: 20rem;
  border-bottom: $border;
  color: $secondary;
  background-color: #fff;
  font-weight: $font-weight-bold;
  font-size: ($font-size-base * 2);
  box-shadow: $box-shadow;
  z-index: 10;

  // HEADER CONTAINER
  // ----------------------------- 
  &__container {
    @include flex(center, space-between);
    @include size(100%, $header-height);
    margin: 0 auto;

    // Header login container
    // -------------------------
    .header--home & {
      justify-content: flex-end;
    }
  }

  // HEADER TITTLE
  // ----------------------------- 
  &__title {
    font-size: 1.75rem;

    // Header login title
    // ------------------------
    .header--login & {
      margin: auto;
    }

  }

}

//--- Header Login ---//
.header--login {
  position: relative;
  border: 0;
  margin: 20px auto;
  box-shadow: none;
}

//--- Home ---//
.header--home {
  @include flex(center, flex-end);
  
  position: static;
  border: 0;
  box-shadow: none;
}

//-- Calendar --//
.header--calendar {

}