/*------------------------------*/
/* MODAL                        */
/* ---------------------------- */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.25s ease-out, visibility 0.35s;
  z-index: 1000;
  visibility: hidden;

  // MODAL CONTAINER
  // ----------------------------- 
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.35s ease-out;

    // Modal container full
    // ------------------------
    &--full {
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }

    // Modal show container
    // ------------------------
    .modal--show & {
      transform: translate3d(0, 0, 0);
    }
  }

  // MODAL TITLE
  // ----------------------------- 
  &__title {
    position: fixed;
    top: 0;
    box-shadow: none;
  }

  // MODAL BODY
  // ----------------------------- 
  &__body {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: $header-height;
    overflow-y: auto;
  }

  // MODAL CLOSE BUTTON
  // ----------------------------- 
  &__close {
    width: auto;
  }
}

//--- Modal Show ---//
.modal--show {
  opacity: 1;
  visibility: visible;
}