/*------------------------------*/
/* MODAL                        */
/* ---------------------------- */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.25s ease-out, visibility 0.35s;
  z-index: 1000;
  visibility: hidden;

  &--show {
    opacity: 1;
    visibility: visible;

    & .modal__container {
      transform: translate3d(0, 0, 0);
    }
  }

  &__container {
    display: flex;
    align-items: space-around;
    justify-content: center;
    min-height: 10rem;
    width: 100%;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.35s ease-out;

    &--full {
      position: relative;
      height: 100%;
      transform: translate3d(100%, 0, 0);
    }
  }

  &__title {
    position: fixed;
    top: 0;
  }

  &__body {
    position: relative;
    top: 3.625rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 40px;

    &--full {
      position: absolute;
      overflow-y: auto;
    }
  }

  &__close {
    width: auto;
  }
}