/*------------------------------*/
/* MODAL                        */
/* ---------------------------- */

.modal {
  @include fixed(0, 0, 0, 0);
  @include flex(flex-end, center);

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.25s ease-out, visibility 0.35s;
  z-index: 1000;
  visibility: hidden;

  // MODAL CONTAINER
  // ----------------------------- 
  &__container {
    @include flex(flex-start, center);
    @include size($height: auto);

    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.35s ease-out;

    // Modal container full
    // ------------------------
    &--full {
      @include size();
      transform: translate3d(100%, 0, 0);
    }

    // Modal show container
    // ------------------------
    .modal--show & {
      transform: translate3d(0, 0, 0);
    }
  }

  // MODAL TITLE
  // ----------------------------- 
  &__title {
    @include fixed(0, 0, auto, 0);
    box-shadow: none;
  }

  // MODAL BODY
  // ----------------------------- 
  &__body {
    @include relative(0, 0, 0, 0);
    @include size($height: auto);
    padding-top: $header-height;
    overflow-y: auto;
  }

  // MODAL CLOSE BUTTON
  // ----------------------------- 
  &__close {
    width: auto;
  }
}

//--- Modal Show ---//
.modal--show {
  opacity: 1;
  visibility: visible;
}