/*------------------------------*/
/* NAVBAR                       */
/* ---------------------------- */

.navbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3.75rem;
    width: 100%;
    margin: 0 auto;
    border-top: $border;
    background-color: #fff;
    z-index: 10;
}

.navbar__icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navbar--top {
    position: relative;
    display: flex;
    top:0;
    border: 0;
}

.navbar__container {
    display: flex;
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.navbar__container--actions {
    align-items: center;
    width: 8.75rem;
    border-left: $border;
}