/*------------------------------*/
/* NAVBAR                       */
/* ---------------------------- */

.navbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
  margin: 0 auto;
  border-top: $border;
  background-color: #fff;
  z-index: 10;

  &__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 10px;
    overflow: auto;

    &--actions {
      align-items: center;
      width: 10rem;
      border-left: $border;
      box-shadow: -1px 0 0px 0 rgba(0, 0, 0, 0.075);
      z-index: 10;
    }

  }
}

// --- User navbar top --- //
.navbar--top {
  position: relative;
  display: flex;
  top: 0;
  border: 0;
}