/*------------------------------*/
/* SECTION                      */
/* ---------------------------- */

.section{
    position: relative;
    top: 3.625rem;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    border-top: $border;
}

.section__title {
    margin: 20px auto;
    padding: 0 $padding-sides;
    color: $secondary;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
}


/*--- Home ---*/
.section--home {
    top:0;
}