// ---------------------------- //
// USER                         //
// ---------------------------- //

.user {

  display: inline-flex;
  align-items: center;
  font-size: $font-size-base;

  // USER NAME
  // ----------------------------- 
  &__name {
    width: 100%;
    margin: 0 auto;
    font-weight: $font-weight-light;
    color: #000;

    &--large {
      width: inherit;
      font-size: 1.2rem;
    }

  }

  &__role {
    color: $grey-100;
    font-size: $font-size-base;
  }

  // USER BTN
  // ----------------------------- 
  &__btn {
    display: block;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    background: none;
  }

  // USER IMG
  // ----------------------------- 
  &__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;

    &--large {
      width: 8rem;
      height: 8rem;
      margin: 0;
    }
  }

}

// --- Layout in column --- //

.user--col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12.125rem;
  padding-bottom: 20px;
}

// --- Home --- //
.user--home {
  display: flex;
  padding: 10px $padding-sides;
  border-bottom: $border;

  &~& {
    border-top: $border;
    border-bottom: none;
  }

  &:last-of-type {
    border-bottom: $border;
  }

}