<div class="container container--static">

  <header class="signup-header">
      <button type="button" class="btn btn--back" (click)="goBack()">
        <svg class="icon icon-close icon--ms">
          <use xlink:href="../../assets/icons/sprite.svg#back"/>
        </svg>
      </button>
      <h1 class="signup-header__title">Sign up</h1>
  </header>

  <p class="container__p container__p--large">
    Do you want to <strong> create </strong> a new Family Group or <strong> join </strong> to one?
  </p>

  <!-- ACTIONS -->
  <div class="container container--btn">
    <button type="button" class="btn btn--primary" id="createBtn" (click)="selectedModalInfo(targetModal, 'createModal')">Create group</button>
    <button type="button" class="btn btn--primary" id="joinBtn" (click)="selectedModalInfo(targetModal, 'joinModal')">Join group</button>
  </div>
  <!-- //ACTIONS -->

</div>


<!-- MODAL -->
<app-modal [title]="targetModalInfo?.title" [modalId]="targetModalInfo?.id" (close)="toggleModal(targetModal)" [modalVisible]="false" [isFull]="true" #targetModal>
  <app-signup-form [singUpType]="targetModalInfo" *ngIf="targetModal.modalVisible"></app-signup-form>
</app-modal>
<!-- // MODAL -->
