@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';

.signup-header {
  @include flex(center, flex-start);
  @include size(100vw, rem($header-height),);
  margin: 0px 0;
  padding: 0 $padding-sides;
  border-bottom: $border;

  &__title {
    margin-left: 20px;
    color: $secondary;
    font-weight: $font-weight-bold;
    font-size: 1.7rem;
  }

}

.container__p {
  text-align: center;
}

.bold {
  margin: 10px;
}
