@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700i&display=swap");
@import url(../icons/icons.data.svg.css);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------*/
/* BASE                         */
/* ---------------------------- */
body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.25rem; }

a {
  text-decoration: none;
  color: #ff748b;
  font-weight: 700;
  cursor: pointer; }

input::placeholder {
  color: #c4c4c4;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300; }

.container {
  position: absolute;
  min-width: 20rem;
  top: 3.625rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto; }

.container__p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.2; }

.container__p--large {
  font-size: 1.5rem;
  margin: 60px 0; }

.container--padding {
  padding: 20px 30px; }

.container--login {
  position: static; }

.container--relative {
  position: relative;
  top: 0; }

/*------------------------------*/
/* ICONS                        */
/* ---------------------------- */
.icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: grayscale(100%);
  transition: filter 0.1s linear; }

.icon--selected,
.icon:hover,
.icon-red_eye,
.icon-red_eye_close {
  filter: none; }

.icon--sm {
  width: 1.875rem;
  height: 1.875rem; }

.icon--xs {
  width: 0.75rem;
  height: 1.25rem; }

.icon--pswd {
  position: absolute;
  margin-right: 5px;
  margin-left: -5px;
  cursor: pointer; }

.icon-settings  {
  right: 0; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
  color: #ff748b;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  z-index: 10; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.625rem;
  margin: 0 auto; }

.header__title {
  font-size: 2.25rem; }

.header__link {
  margin-left: auto; }

.header--login {
  position: relative;
  border: 0;
  margin: 20px auto; }

.header__title--login {
  margin: auto; }

.header--home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0; }

.header__container--home {
  justify-content: flex-end; }

.header--calendar {
  padding: 0;
  margin: 0; }

/*------------------------------*/
/* FORM                         */
/* ---------------------------- */
.form {
  padding: 20px 30px 40px; }

.form__group {
  margin-bottom: 10px; }

.form__label {
  display: inline-block;
  color: #94e9f2;
  font-weight: 700;
  margin-bottom: 5px; }

.form__control {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 5px 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem; }

.form__control:focus {
  outline: none;
  background-color: #fffdf5; }

.form__control--invalid {
  border-color: #ff748b; }

.form__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.form__link {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
  text-align: end; }

.form__actions {
  margin-top: 45px; }

/*--- Login ---*/
.form--login .form__control {
  height: 3.125rem;
  padding: 16px 10px; }

.form--login .form__group {
  margin-bottom: 42px; }

/*--- Signup ---*/
.form--signup .form__control {
  height: 2.188rem; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.813rem;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 auto 42px;
  color: #fff;
  background-color: #c4c4c4;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 0;
  cursor: pointer; }

.btn--icon {
  width: 2.813rem;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0); }

.btn--close {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #c4c4c4;
  transition: color 0.2s ease-out; }

.btn--close:hover {
  color: #525252; }

.btn--success {
  background-color: #94e9f2; }

.btn--sm {
  height: 1.875rem;
  font-size: 1.25rem; }

.btn--xs {
  height: 1.563rem;
  min-width: 4.375rem;
  margin: 0 auto;
  font-size: 0.675rem; }

/*------------------------------*/
/* USER                         */
/* ---------------------------- */
.user {
  display: inline-flex;
  align-items: center;
  font-size: 1rem; }

.user__btn {
  display: block;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  background: none; }

.user__img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px; }

.user__img--large {
  width: 9.188rem;
  height: 9.188rem;
  margin: 0; }

.user--col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12.125rem;
  margin-bottom: 20px; }

.user__role {
  color: #c4c4c4;
  font-size: 1rem; }

/*--- Home ---*/
.user--home {
  display: flex;
  padding: 10px 30px;
  border-top: 1px solid #c4c4c4; }

.user--home:last-of-type {
  border-bottom: 1px solid #c4c4c4; }

.user__name--large {
  font-size: 1.25rem; }

/*------------------------------*/
/* SECTION                      */
/* ---------------------------- */
.section {
  position: relative;
  top: 3.625rem;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  border-top: 1px solid #c4c4c4; }

.section__title {
  margin: 20px auto;
  padding: 0px 30px;
  min-width: 320px;
  color: #ff748b;
  font-size: 1.5rem;
  font-weight: 700; }

/*--- Home ---*/
.section--home {
  top: 0; }

/*------------------------------*/
/* NAVBAR                       */
/* ---------------------------- */
.navbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.75rem;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #c4c4c4;
  background-color: #fff;
  z-index: 10; }

.navbar__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; }

.navbar--top {
  position: relative;
  display: flex;
  top: 0;
  border: 0; }

.navbar__container {
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: auto; }

.navbar__container--actions {
  align-items: center;
  width: 8.75rem;
  border-left: 1px solid #c4c4c4;
  box-shadow: -1px -2px 5px 2px rgba(0, 0, 0, 0.096);
  z-index: 10; }

/*------------------------------*/
/* SETTINGS                     */
/* ---------------------------- */
.settings__title {
  width: 100%;
  color: #94e9f2;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px; }

.settings__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-top: 1px solid #c4c4c4;
  color: #000;
  font-weight: 400; }

.settings__txt--warning {
  color: #ff748b; }

/*------------------------------*/
/* MODAL                        */
/* ---------------------------- */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s;
  z-index: 1000;
  visibility: hidden; }
  .modal--show {
    opacity: 1;
    visibility: visible; }
    .modal--show .modal__container {
      transform: translate3d(0, 0, 0); }
  .modal__container {
    width: 100%;
    background-color: #fff;
    overflow: auto;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.25s ease-out; }
    .modal__container--full {
      position: absolute;
      top: 0;
      height: 100vh;
      transform: translate3d(100%, 0, 0); }
  .modal__title {
    position: static; }
  .modal__close {
    width: auto;
    height: 26px; }

.switch {
  display: flex;
  align-items: center;
  margin-left: auto; }
  .switch__check {
    display: none; }
  .switch__slider {
    position: relative;
    display: inline-flex;
    width: 3.125rem;
    height: 1.625rem;
    margin: 0;
    background-color: #c4c4c4;
    border-radius: 20px; }
  .switch__slider::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s; }
  .switch__check:checked + .switch__slider::before {
    left: 25px; }
  .switch__check:checked + .switch__slider {
    background-color: #79f285; }

/*# sourceMappingURL=../../sass/sourcemap/style.css.map */
