<form [formGroup]="eventForm" class="form" (ngSubmit)="onSubmit(eventForm)">

  <!-- Event name and location -->
  <div class="form__section">
    <div class="form__group">
      <label for="eventName" class="form__label">Event name</label>
      <input type="text" id="eventName" class="form__control" placeholder="Dentist" aria-required="true"
        autocomplete="off" required formControlName="eventName"
        [class.form__control--invalid]="eventForm.controls.eventName.dirty && eventForm.controls.eventName.invalid">
      <div class="form__msg-group" *ngIf="eventForm.controls.eventName.dirty && eventForm.controls.eventName.invalid">
        Required field
      </div>
    </div>

    <div class="form__group">
      <label for="location" class="form__label">Location</label>
      <input type="text" id="location" class="form__control" placeholder="C/Abc, 28220, Madrid" aria-required="false"
        autocomplete="off" formControlName="location">
    </div>
  </div>
  <!-- //Event name and location -->

  <!-- Event dates -->
  <div class="form__section">

    <label class="switch form__group" for="allDay">
      <span class="switch__label form__label">All day</span>
      <input type="checkbox" class="switch__check" id="allDay" role="switch" aria-checked="true"
        formControlName="allDay">
      <span class="switch__slider"></span>
    </label>

    <!-- Start Date -->
    <div class="form__group form__group--date">
      <label for="startDate" class="form__label">Start date</label>
      <div *ngIf="eventForm.controls.allDay.value">
        <input type="text" id="startDate" name="startDate" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="startDate" [owlDateTime]="startDate"
          [owlDateTimeTrigger]="startDate">
        <owl-date-time #startDate [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
      </div>
      <div *ngIf="!eventForm.controls.allDay.value">
        <input type="text" id="startDate" name="startDate" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="startDate" [owlDateTime]="startDate"
          [owlDateTimeTrigger]="startDate">
        <owl-date-time #startDate [pickerType]="'both'" [pickerMode]="'dialog'"></owl-date-time>
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.startDate.dirty && eventForm.controls.startDate.invalid && !eventForm.controls.startDate.errors?.datesError">
        Required field
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.startDate.dirty && eventForm.controls.endDate.errors?.datesError">
        Invalid date
      </div>
    </div>
    <!-- //Start Date -->

    <!-- End Date -->
    <div class="form__group form__group--date">
      <label for="endDate" class="form__label">End date</label>
      <div *ngIf="eventForm.controls.allDay.value">
        <input type="text" id="endDate" name="endDate" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="endDate" [owlDateTime]="endDate"
          [owlDateTimeTrigger]="endDate">
        <owl-date-time #endDate [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
      </div>
      <div *ngIf="!eventForm.controls.allDay.value">
        <input type="text" id="endDate" name="endDate" class="form__control" aria-required="true"
          placeholder="DD/MM/YYYY, 00:00" formControlName="endDate" [owlDateTime]="endDate"
          [owlDateTimeTrigger]="endDate">
        <owl-date-time #endDate [pickerType]="'both'" [pickerMode]="'dialog'"></owl-date-time>
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.endDate.dirty && eventForm.controls.endDate.invalid && !eventForm.controls.endDate.errors?.datesError">
        Required field
      </div>
      <div class="form__msg-group"
        *ngIf="eventForm.controls.endDate.dirty && eventForm.controls.endDate.errors?.datesError">
        Invalid date
      </div>
    </div>
    <!-- //End Date -->

  </div>
  <!-- //Event dates -->

  <!-- Event add invitee -->
  <div class="form__section form__section--add">

    <!-- USERS -->
    <app-user-list [onlyImage]="true" [userList]="inviteeList" class="form__user-list"></app-user-list>
    <!-- //USERS -->

    <!-- Add invitee -->
    <div class="form__btn">
      <button type="button" class="btn btn--primary btn--sm" (click)="toggleModal(newInvitee)">Add
        invitee</button>
    </div>
    <!-- //Add invitee -->

  </div>
  <!-- //Event add invitee -->

  <!-- Notes -->
  <div class="form__section">
    <div class="form__group">
      <label for="notes" class="form__label">Notes</label>
      <textarea id="notes" class="form__control" rows="4" cols="50" placeholder="Write additional information here..."
        formControlName="notes"></textarea>
    </div>
  </div>
  <!-- //Notes -->

  <!-- FORM ACTIONS -->
  <div class="form__actions container--btn">
    <button type="submit" class="btn btn--m" aria-disabled="true" [disabled]="!eventForm.valid">{{formBtn}}
      event</button>
    <button *ngIf="formBtn === 'Modify'" type="button" class="btn btn--m btn--secondary" aria-disabled="true"> Delete
      event</button>
  </div>
  <!-- //FORM ACTIONS -->

</form>
<!-- //FORM -->

<!-- MODAL NEW INVITEE -->
<app-modal [title]="'New invitee'" [isFull]="false" (close)="toggleModal(newInvitee)" #newInvitee>
  <app-user-list [onlyImage]="false" [(userList)]="userList" [isCheckList]="true" class="form form--checklist">
  </app-user-list>
  <!-- FORM ACTIONS -->
  <div class="container container--btn">
    <button type="button" class="btn btn--m btn--primary" aria-disabled="true" (click)="onAdd(newInvitee)">Add
      invitee</button>
  </div>
  <!-- //FORM ACTIONS -->
</app-modal>

<!-- //MODAL NEW INVITEE -->
