<!-- USER AND FAMILY INFO -->
<div class="container container--top">
  <button type="button" class="btn btn--icon icon icon-settings" id="settingsBtn" aria-label="Settings" aria-labelledby="settingsModal" (click)="openSettingsModal()"></button>

    <!-- MAIN USER -->
    <article class="user user--col">
      <button type="button" class="btn user__btn" id="imgBtn">
        <img class="user__img user__img--large" [src]="user.avatar"
          alt="Claudia Benito profile photo">
      </button>
      <h2 class="user__name user__name--large">{{ user.name }}</h2>
      <span class="user__role" *ngIf="user.role === 'admin'">admin</span>
    </article>
    <!-- //MAIN USER -->

    <!-- MEMBERS -->

    <h1 class="container__title">Family {{ userGroup.name }}</h1>

    <app-user-list [onlyImage]="false"></app-user-list>

    <!-- NEW MEMBERS BUTTON -->
    <div class="container container--btn">
      <button type="button" class="btn btn--m btn--primary" id="newMemberBtn">New member</button>
    </div>
    <!-- //NEW MEMBERS BUTTON -->


    <!-- //MEMBERS -->

</div>
<!-- //USER AND FAMILY INFO -->


<!-- MODAL -->
<app-modal [title]="targetModal.title" [modalId]="targetModal.id" (close)="close($event)" [modalVisible]="modalVisible">

  <app-settings></app-settings>

</app-modal>
<!-- // MODAL -->
