@import '../../../../styles/mixins/mixins';
@import '../../../../styles/global/variables';
// ---------------------------- //
// SETTINGS                     //
// ---------------------------- //
.settings {

  min-width: 20rem;

  &+& {
    border-top: 4px solid $grey-100;
  }

  // SETTINGS TITLE
  // -----------------------------
  &__title {
    width: 100%;
    border-bottom: $border;
    color: $primary;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    padding: 10px $padding-sides;
  }

  // SETTINGS TEXT
  // -----------------------------
  &__txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px $padding-sides;
    border-bottom: $border;
    color: var(--body-color);
    font-weight: $font-weight-light;

    &:hover {
      background-color: var(--tertiary);
      cursor: pointer;
    }

    // Settings text warnig
    // ------------------------
    &--warning {
      color: $secondary;
    }
  }

}
