<ngx-spinner size="medium" bdColor="rgba(51,51,51,0.35)" type="ball-spin-clockwise" color="#fff"></ngx-spinner>
<article class="settings">
  <h2 class="settings__title">User settings</h2>
  <ul class="settings__list">
    <!-- <li>
      <a class="settings__txt" (click)="selectedModalInfo(targetModal, 'passwordModal')">Change password<i
          class="icon icon-next icon--xs"></i></a>
    </li> -->
    <li>
      <a class="settings__txt" (click)="selectedModalInfo(targetModal, 'nameModal')">Change name<i
          class="icon icon-next icon--xs"></i></a>
    </li>
    <!-- <li>
      <a class="settings__txt" (click)="selectedModalInfo(targetModal, 'emailModal')">Change email<i
          class="icon icon-next icon--xs"></i></a>
    </li> -->
    <!-- SWITCHES -->
    <li>
      <label class="switch settings__txt" for="location">
        <span class="switch__label">Location</span>
        <input type="checkbox" class="switch__check" id="location" role="switch" aria-checked="true" [checked]="(locationOn | async )"
          (click)="onLocationSwitch()">
        <span class="switch__slider"></span>
      </label>
    </li>

    <li>
      <label class="switch settings__txt" for="notifications">
        <span class="switch__label">Notifications</span>
        <input type="checkbox" class="switch__check" id="notifications" role="switch" aria-checked="true" [checked]="(notificationsOn | async )"
          (click)="onNotificationsSwitch()">
        <span class="switch__slider"></span>
      </label>
    </li>

    <li>
      <a class="settings__txt settings__txt--warning" (click)="logOut()">Log out</a>
    </li>
    <li class="settings__txt settings__txt--warning" (click)="selectedModalInfo(targetModal, 'deleteAccountModal')">
      Delete account
    </li>

  </ul>
</article>

<article class="settings" *ngIf="( user | async ).role">
  <h2 class="settings__title">Family settings</h2>
  <ul>
    <li class="settings__txt">Change admin <i class="icon icon-next icon--xs"></i></li>
    <li class="settings__txt">Change family name <i class="icon icon-next icon--xs"></i>
    </li>
    <li class="settings__txt settings__txt--warning" (click)="selectedModalInfo(targetModal, 'deleteGroupModal')">
      Delete family group and related accounts
    </li>
  </ul>
</article>


<!-- MODAL CHANGE/DELETE USER DATA -->

<app-modal class [title]="targetModalInfo?.title" [modalId]="targetModalInfo?.id" (close)="toggleModal(targetModal)"
  [modalVisible]="false" [isFull]="false" #targetModal>
  <ng-container *ngIf="targetModal.modalVisible">

    <ng-container *ngIf="targetModalInfo.id === 'nameModal'">
      <form [formGroup]="changeNameForm" class="form" (ngSubmit)="onModify(changeNameForm)">
        <div class="form__group">
          <label for="inputName" class="form__label">Enter your new name</label>
          <input type="text" id="inputName" formControlName="inputName" class="form__control"
            required>
        </div>
        <div class="form__actions">
          <button type="submit" class="btn btn--m btn--primary" [disabled]="!changeNameForm.valid">Change name</button>
        </div>
      </form>

    </ng-container>

    <!-- DELETE MODALS -->
    <ng-container *ngIf="targetModalInfo.id === 'deleteModal'">
      <div class="container container--static">
        <p class="container__p container__p--medium">Are you sure you want to delete {{ targetModalInfo.label }}?
        </p>
        <div class="container container--btn">
          <button type="button" class="btn btn--m btn--secondary" (click)="targetModalInfo.function()">Remove</button>
          <button type="button" class="btn btn--m btn--primary" (click)="toggleModal(targetModal)">Cancel</button>
        </div>
      </div>
    </ng-container>
    <!-- //DELETE MODALS -->

  </ng-container>
</app-modal>

<!-- // MODAL CHANGE/DELETE USER DATA -->
