<div class="modal modal--show" id="signUpModal">
  <div class="modal__container modal__container--full">
    <header class="header modal__header">
      <div class="header__container">
        <h1 class="header__title">Sign up</h1>
        <button type="button" class="btn btn--close modal__close">&times;</button>
      </div>
    </header>

    <div class="modal__body">

      <div class="container container--padding">
        <p class="container__p container__p--large">
          Do you want to <strong>create</strong> a new Family Group or <strong>join</strong> to one?
        </p>

        <!-- ACTIONS -->
        <div class="container container--btn">
          <button type="button" class="btn btn--primary" id="createBtn">Create</button>
          <button type="button" class="btn btn--primary" id="joinBtn">Join</button>
        </div>
        <!-- //ACTIONS -->
      </div>

    </div>
  </div>
</div>
