<ngx-spinner size="medium" bdColor="rgba(51,51,51,0.35)" type="ball-spin-clockwise" color="#fff"></ngx-spinner>
<form [formGroup]="newPlaceForm" class="form" (ngSubmit)="onSubmit(newPlaceForm)">

  <!-- Place name and location -->
  <div class="form__section">
    <div class="form__group">
      <label for="title" class="form__label">Event name</label>
      <input type="text" id="title" class="form__control" placeholder="Dentist" aria-required="true" autocomplete="off"
        required formControlName="title"
        [class.form__control--invalid]="newPlaceForm.controls.title.dirty && newPlaceForm.controls.title.invalid">
      <div class="form__msg-group" *ngIf="newPlaceForm.controls.title.dirty && newPlaceForm.controls.title.invalid">
        Required field
      </div>
    </div>

    <div class="form__group">
      <label for="location" class="form__label">Location</label>
      <input type="search" id="location" class="form__control" placeholder="Search location..." autocomplete="off"
        formControlName="address" (input)="searchLocation(newPlaceForm.controls.address.value)"
        [class.form__control--invalid]="newPlaceForm.controls.address.dirty && newPlaceForm.controls.location.invalid">
      <div class="form__msg-group" *ngIf="newPlaceForm.controls.address.dirty && newPlaceForm.controls.location.invalid">
        Required field
      </div>
      <ul class="form__list" *ngIf="locationOpen" (clickOutside)="onClickOutside($event)">
        <li *ngIf="locations.length === 0" class="form__list-elem" (click)="selectLocation('')"> Location not found
        </li>
        <li *ngFor="let location of locations" class="form__list-elem" (click)="selectLocation(location)">
          {{ location.name }}</li>
      </ul>
    </div>


    <div class="form__group" (click)="toggleCategory()" (clickOutside)="onClickOutside($event)">
      <label for="category" class="form__label"> Category </label>
      <div class="form__select">
        <input type="text" readonly="true" id="category" class="form__control form__control--select"
          placeholder="Select category..." autocomplete="off" formControlName="categoryName">
        <button type="button" class="btn btn--icon btn--dropdown">
          <svg class="icon icon--nofilter icon--s" [class.icon--rotate]="categoryOpen">
            <use xlink:href="/assets/icons/sprite.svg#arrow" />
          </svg>
        </button>
      </div>
      <ul class="form__list" *ngIf="categoryOpen">
        <li *ngFor="let category of categories" class="form__list-elem" (click)="selectCategory(category)">
          {{ category }}</li>
      </ul>
    </div>

  </div>
  <!-- //Place name and location -->

  <!-- FORM ACTIONS -->
  <div class="form__actions container--btn">
    <button type="submit" class="btn btn--m" aria-disabled="true" [disabled]="!newPlaceForm.valid">
      New place
    </button>
  </div>
  <!-- //FORM ACTIONS -->

</form>
<!-- //FORM -->
