@import '../../../styles/mixins/mixins';
@import '../../../styles/global/variables';
//------------------------------//
// LIST                         //
// ---------------------------- //

.container--list {
  background-color: $tertiary;
}
.list {
  min-width: 20rem;
  margin-bottom: rem(120px);
  overflow: auto;

  // HEADER
  //-----------------------------
  &__header {
    @include flex(center, center);
    padding: 15px $padding-sides 0;
    // border-bottom: 1px solid rgba($color: $secondary, $alpha: 0.5);
    // background-color: rgba($color: $secondary, $alpha: 0.5);
    color: #fff;
    font-size: rem(28px);
    // box-shadow: $box-shadow-sharpen;
  }

  // ITEM
  //-----------------------------
  &__item {
    @include flex(center, flex-start);
    @include size(auto, rem(60px));
    transition: background-color 0.2s linear;

    margin: 10px 20px;
    padding: 0 ($padding-sides - 20px);
    background-color: #fff;
    border: 1px solid rgba($color: $secondary, $alpha: 0.75);
    border-radius: 3px;
    box-shadow: $box-shadow-sharpen;

    &:first-child {
      border-top: 1px solid rgba($color: $secondary, $alpha: 0.5);
    }

    & span {
      cursor: pointer;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($tertiary, 2.5%);
    }

  }

  // LABEL
  //-----------------------------
  &__label {
    @include flex (flex-start, space-between);
    @include size();

    padding: 10px 0;
    flex-direction: column;
    margin-left: 10px;
    font-size: rem(24px);

    &:hover {
      cursor: pointer;
    }
  }

  // ADDED BY USERNAME
  //-----------------------------
  &__addedby {
    color: $grey-100;
    font-size: rem(14px);
    text-decoration: none;
  }

  // INPUT TEXT
  //-----------------------------
  &__input {
    @include size($height: rem(30px));
    border: none;
    border-bottom: $border;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    background: none;
    font-family: $font-family-primary;
    font-size: rem(24px);
    font-weight: $font-weight-light;
  }

  // LIST ITEM BTN
  //-----------------------------
  &__btn {
    color: $grey-100;
    transition: color 0.1s linear;
    margin: 0;

    &--sort {
      color: #fff;

      & + & {
        margin-left: 20px;
      }
    }

    &--add {
      color: $primary;
      transform: rotate(45deg);
    }

    &:hover {
      color: $secondary
    }

  }

  // Checked status
  // ---------------------

  &__product {
    transition: all 0.15s linear;
  }

  @keyframes strike {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }

  &__done {
    position: relative;
    color: $grey-100;
  }

  &__done::after {
    content: ' ';
    position: absolute;
    top: rem(12px);
    left: 0;
    width: 100%;
    height: 1px;
    background: $grey-100;
    animation-name: strike;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    transform-origin: right;
    animation-fill-mode: forwards;
  }


}

.icon--sort-down {
  transform-origin: center;
  transform: scale(1, -1);
}
