<div class="container container--list" #scrollMe>
  <!-- LIST -->
  <ul class="list">

    <!-- FILTERS -->
    <div class="list__header">
      <button type="button" class="btn list__btn list__btn--sort" (click)="sortList(iconSort)">
        <svg class="icon icon--nofilter icon--sm" id="sort-done" #iconSort [class.icon--sort-done]="sortIconDone">
          <use xlink:href="../../assets/icons/sprite.svg#sort" />
        </svg>
      </button>
      <button type="button" class="btn list__btn list__btn--sort" (click)="sortList(iconSortAz)">
        <svg viewBox="0 0 480 480" id="sort-az" class="icon icon--nofilter icon--sm icon--sort-az" #iconSortAz
          [class.icon--sort-az]="sortIconAZ" width="480" height="480" fill="currentColor">
          <path
            d="M447.033 361.05c-4.8-4.8-12.5-4.8-17.3 0l-73.6 73.6V15.85c0-6.8-5.5-12.3-12.3-12.3s-12.3 5.5-12.3 12.3v418.8l-73.5-73.6c-4.8-4.8-12.5-4.8-17.3 0s-4.8 12.5 0 17.3l94.5 94.5c2.4 2.4 5.5 3.6 8.7 3.6s6.3-1.2 8.7-3.6l94.5-94.5c4.6-4.7 4.6-12.5-.1-17.3z">
          </path>
          <text font-family="Helvetica, Arial, sans-serif" font-size="200" y="201.886" x="64.732" fill-opacity="null"
            stroke-opacity="null" font-weight="400">A</text>
          <text font-family="Helvetica, Arial, sans-serif" font-size="200" y="412.827" x="70.343" fill-opacity="null"
            stroke-opacity="null" font-weight="400">Z</text>
        </svg>
      </button>
    </div>
    <!-- // FILTERS -->

    <!-- PRODUCTS -->
    <ng-container *ngFor="let product of productList | async ">
      <li class="list__item">
        <div class="list__checkbox checkbox checkbox--lg">
          <input type="checkbox" [name]="product.name" [id]="product._id" class="checkbox__box" [checked]="product.done"
            #checkedProduct (change)="doneItem(product, checkedProduct.checked)">
          <span class="checkbox__checkmark"></span>
        </div>
        <label [for]="product._id" class="list__label">
          <span class="list__product" [class.list__done]="product.done">{{ product.name }}</span>
          <span class="list__addedby">Added by {{ product.addedBy }}</span>
        </label>
        <button type="button" class="list__btn" (click)="deleteItem(product)">
          <svg class="icon icon--sm">
            <use xlink:href="../../assets/icons/sprite.svg#close" />
          </svg>
        </button>
      </li>
    </ng-container>
    <!-- // PRODUCTS -->

    <!-- ADD NEW PRODUCT -->
    <li class="list__item" *ngIf="addItemElemVisible">
      <input class="list__label list__input" type="text" #newProduct (keydown.enter)="addItem(newProduct.value)">
      <button class="list__btn list__btn--add" (click)="addItem(newProduct.value)">
        <svg class="icon icon--sm icon--nofilter">
          <use xlink:href="../../assets/icons/sprite.svg#close" />
        </svg>
      </button>
    </li>
    <!-- // ADD NEW PRODUCT -->

  </ul>
  <!-- // LIST -->
</div>

<button type="button" class="btn btn--float" (click)="addItemElem()" *ngIf="!addItemElemVisible">
  <i class="icon icon-plus icon--xs"></i>
</button>
