<article class="settings">
  <h2 class="settings__title">User settings</h2>
  <ul class="settings__list">
    <li>
      <a href="#" class="settings__txt">Change password<i class="icon icon-next icon--xs"></i></a>
    </li>
    <li>
      <a href="#" class="settings__txt">Edit user name<i class="icon icon-next icon--xs"></i></a>
    </li>
    <li>
      <a href="#" class="settings__txt">Change email<i class="icon icon-next icon--xs"></i></a>
    </li>
    <!-- SWITCHES -->
    <li>
      <label class="switch settings__txt" for="location">
        <span class="switch__label">Location</span>
        <input type="checkbox" class="switch__check" id="location" role="switch" aria-checked="true" (click)="locationOn()">
        <span class="switch__slider"></span>
      </label>
    </li>

    <li>
      <label class="switch settings__txt" for="notifications">
        <span class="switch__label">Notifications</span>
        <input type="checkbox" class="switch__check" id="notifications" role="switch" aria-checked="true" (click)="notificationsOn()">
        <span class="switch__slider"></span>
      </label>
    </li>
    <!-- //SWITCHES -->

    <li>
      <a [routerLink]="'../login'"class="settings__txt settings__txt--warning" (click)="logOut()">Log out</a>
    </li>
    <li>
      <a href="#" class="settings__txt settings__txt--warning">Delete account</a>
    </li>

  </ul>
</article>

<article class="settings" *ngIf="authService.user.role === 'admin'">
  <h2 class="settings__title">Family settings</h2>
  <ul>
    <li class="settings__txt">Change admin <i class="icon icon-next icon--xs"></i></li>
    <li class="settings__txt">Change family name <i class="icon icon-next icon--xs"></i>
    </li>
    <li class="settings__txt settings__txt--warning">Delete family group</li>
  </ul>
</article>
