
.icon-family {
	background-image: url('png/family.png');
	background-repeat: no-repeat;
}


.icon-red_eye {
	background-image: url('png/red_eye.png');
	background-repeat: no-repeat;
}

.icon-bell {
	background-image: url('png/bell.png');
	background-repeat: no-repeat;
}

.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}

.icon-chat_1 {
	background-image: url('png/chat_1.png');
	background-repeat: no-repeat;
}

.icon-check_1 {
	background-image: url('png/check_1.png');
	background-repeat: no-repeat;
}

.icon-check_list {
	background-image: url('png/check_list.png');
	background-repeat: no-repeat;
}

.icon-control {
	background-image: url('png/control.png');
	background-repeat: no-repeat;
}

.icon-copy {
	background-image: url('png/copy.png');
	background-repeat: no-repeat;
}

.icon-cross {
	background-image: url('png/cross.png');
	background-repeat: no-repeat;
}

.icon-delete {
	background-image: url('png/delete.png');
	background-repeat: no-repeat;
}

.icon-funnel {
	background-image: url('png/funnel.png');
	background-repeat: no-repeat;
}

.icon-home {
	background-image: url('png/home.png');
	background-repeat: no-repeat;
}

.icon-info {
	background-image: url('png/info.png');
	background-repeat: no-repeat;
}

.icon-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
}

.icon-location {
	background-image: url('png/location.png');
	background-repeat: no-repeat;
}

.icon-maplocation {
	background-image: url('png/maplocation.png');
	background-repeat: no-repeat;
}

.icon-maps {
	background-image: url('png/maps.png');
	background-repeat: no-repeat;
}

.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}

.icon-power_on_off {
	background-image: url('png/power_on_off.png');
	background-repeat: no-repeat;
}

.icon-red_eye_close {
	background-image: url('png/red_eye_close_1.png');
	background-repeat: no-repeat;
}

.icon-settings_1 {
	background-image: url('png/settings_1.png');
	background-repeat: no-repeat;
}

.icon-settings {
	background-image: url('png/settings.png');
	background-repeat: no-repeat;
}

.icon-shopping_car {
	background-image: url('png/shopping_car.png');
	background-repeat: no-repeat;
}

.icon-shopping {
	background-image: url('png/shopping.png');
	background-repeat: no-repeat;
}

.icon-speech_bubble {
	background-image: url('png/speech_bubble.png');
	background-repeat: no-repeat;
}

.icon-trash {
	background-image: url('png/trash.png');
	background-repeat: no-repeat;
}