@import  'mixins/mixins';
@import  'global/variables';

body {
  overflow: auto;
}

.form__link {
  margin-bottom: 20px;
  text-align: center;
}

.app-name {
  @include size(100vw, 100%);
  @include flex(center, center);

  padding: 30px;
  color: $secondary;
  font-size: rem(50px);
  font-weight: $font-weight-bold;
}
