<header class="header">

  <nav class="header__container">

    <!-- USERS -->

    <app-user-list [onlyImage]="true" class="header__list" [userList]="(userList | async)"></app-user-list>

    <!-- //USERS -->

    <!-- SWITCH -->
    <div class="header__actions" *ngIf="switchVisible">
      <label class="switch switch--sm" for="shopping">
        <span class="switch__label switch__label--sm">Shopping</span>
        <input type="checkbox" class="switch__check" id="shopping" role="switch" aria-checked="true" [checked]="(isShopping | async )"
        (click)="onChecked()">
        <span class="switch__slider"></span>
      </label>
    </div>
    <!-- //SWITCH -->

    <!-- BUTTON -->
    <div class="header__actions" *ngIf="!switchVisible">
      <button type="button" class="btn btn--primary btn--sm" [id]="button.id">{{ button.name }}</button>
    </div>
    <!-- //BUTTON -->

  </nav>

</header>
